<section class="features section">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">Features projects</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>

        <div class="features__portfolio">
            <ul class="features__portfolio-list">
                <li class="features__portfolio-item portfolio-size-2">
                    <a href="#" class="features__portfolio-link">
                        <figure class="features__portfolio-pictrure">
                            <img class="features__portfolio-img" src="%=static=%img/assets/features/project-1.jpg"
                                     alt="">
                            <figcaption class="features__portfolio-caption">Project 1</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="features__portfolio-item portfolio-size-1">
                    <a href="#" class="features__portfolio-link ">
                        <figure class="features__portfolio-pictrure">
                            <img class="features__portfolio-img" src="%=static=%img/assets/features/project-2.jpg"
                                 alt="">
                            <figcaption class="features__portfolio-caption">Project 2</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="features__portfolio-item portfolio-size-1">
                    <a href="#" class="features__portfolio-link">
                        <figure class="features__portfolio-pictrure">
                            <img class="features__portfolio-img" src="%=static=%img/assets/features/project-3.jpg"
                                 alt="">
                            <figcaption class="features__portfolio-caption">Project 3</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="features__portfolio-item portfolio-size-4">
                    <a href="#" class="features__portfolio-link">
                        <figure class="features__portfolio-pictrure">
                            <img class="features__portfolio-img" src="%=static=%img/assets/features/project-4.jpg"
                                 alt="">
                            <figcaption class="features__portfolio-caption">Project 4</figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>