<section class="team section">
    <div class="wrapper team__wrapper">
    <header class="team__header text-center">
        <h2 class="team__title title__text">Our team</h2>
        <p class="team__subtitle subtitle__text">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        </p>
    </header>
    <section class="team__body">
        <img src="static/img/assets/team/hipster.jpg" alt="" class="team-member__person">
        <div class="team-member__bio">
            <header class="team-member__header">
                <h3 class="team-member__title">Abdulah Noman</h3>
                <p class="team-member__subtitle">Creative Director, Code cafe</p>
            </header>
            <p class="team-member__description">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </p>
            <div class="team-member__stats-wrapper">
                <section class="team-member__stats" data-value="80%">
                    <header class="team-mebmer__stat-wrapper">
                        <div class="team-member__stats-title">branding</div>
                        <div class="team-member__stats-value">80%</div>
                    </header>
                    <div class="team-member__stats-bar">
                        <div class="team-member__stats-line"></div>
                    </div>
                </section>
                <section class="team-member__stats" data-value="65%">
                    <header class="team-mebmer__stat-wrapper">
                        <div class="team-member__stats-title">web design</div>
                        <div class="team-member__stats-value">65%</div>
                    </header>
                    <div class="team-member__stats-bar">
                        <div class="team-member__stats-line"></div>
                    </div>
                </section>
                <section class="team-member__stats" data-value="75%">
                    <header class="team-mebmer__stat-wrapper">
                        <div class="team-member__stats-title">user interface</div>
                        <div class="team-member__stats-value">75%</div>
                    </header>
                    <div class="team-member__stats-bar">
                        <div class="team-member__stats-line"></div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    </div>
</section>
