<div class="portfolio section gray wow zoomIn" data-wow-duration="2s">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">The portfolio</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>

        <div class="portfolio-container">
            <div class="portfolio-controls">
                <div class="filter filter-all portfolio-control" data-filter="all">All Works</div>
                <div class="filter portfolio-control" data-filter=".print">Print</div>
                <div class="filter portfolio-control" data-filter=".identity">Identity</div>
                <div class="filter portfolio-control" data-filter=".branding">Branding</div>
                <div class="filter portfolio-control" data-filter=".web">Web</div>
                <div class="filter portfolio-control" data-filter=".html">HTML</div>
                <div class="filter portfolio-control" data-filter=".wordpress">Wordpress</div>
            </div>
            <div class="portfolio-items clearfix" id="portfolio-items">
                <div class="portfolio-item mix branding identity web wordpress">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-1.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix html">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-2.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix branding web">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-3.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix wordpress html">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-4.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix branding identity print">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-5.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix web html branding">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-6.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix print web wordpress">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-7.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix html web">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-8.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix print branding">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-9.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix web print">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-10.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix web wordpress identity branding">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-11.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

                <div class="portfolio-item mix web identity branding">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <div class="portfolio-item__meta-inner">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos
                                    ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-12.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="portfolio-bottom">
            <div class="portfolio-bottom-wrapper text-center">
                <p class="portfolio-bottom__text">At vero eos et <b>accusamus</b> et iusto odio <b>dignissimos</b> ducimus qui blanditiis</p>
                <p class="portfolio-bottom__text"><button class="btn btn-default btn-white">Start project</button></p>
            </div>
        </div>
    </div>
</div>