<div class="portfolio section">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">The portfolio</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>
        <div class="portfolio-container">
            <div class="portfolio-controls">
                <div class="filter portfolio-control" data-filter="all">All Works</div>
                <div class="filter portfolio-control" data-filter=".print">Print</div>
                <div class="filter portfolio-control" data-filter=".identity">Identity</div>
                <div class="filter portfolio-control" data-filter=".branding">Branding</div>
                <div class="filter portfolio-control" data-filter=".web">Web</div>
                <div class="filter portfolio-control" data-filter=".html">HTML</div>
                <div class="filter portfolio-control" data-filter=".wordpress">Wordpress</div>
            </div>

            <div class="portfolio-content">
                <div class="portfolio-item mix print web html">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <h4 class="portfolio-item__title">Title here</h4>
                            <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentium</p>

                            <ul class="portfolio-item__links">
                                <li class="portfolio-item__links-item">
                                    <a href="#" class="portfolio-item__link">
                                        <i class="sprite-white sprite-mini-white-link-icon"></i>
                                    </a>
                                </li>
                                <li class="portfolio-item__links-item">
                                    <a href="#" class="portfolio-item__link">
                                        <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-1.jpg" class="portfolio-item__img" alt="">
                    </div>
                </div>
                <div class="portfolio-item mix identity">
                    <div class="portfolio-item__wrapper">
                        <div class="portfolio-item__meta">
                            <h4 class="portfolio-item__title">Title here</h4>
                            <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentium</p>

                            <ul class="portfolio-item__links">
                                <li class="portfolio-item__links-item">
                                    <a href="#" class="portfolio-item__link">
                                        <i class="sprite-white sprite-mini-white-link-icon"></i>
                                    </a>
                                </li>
                                <li class="portfolio-item__links-item">
                                    <a href="#" class="portfolio-item__link">
                                        <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <img src="%=static=%img/assets/portfolio/portfolio-2.jpg" class="portfolio-item__img" alt="">
                    </div>
                    <div class="portfolio-item mix identity web html">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-3.jpg" class="portfolio-item__img" alt="">
                        </div>
                    </div>
                    <div class="portfolio-item mix print html">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-4.jpg" class="portfolio-item__img" alt="">
                        </div>
                    </div>
                    <div class="portfolio-item mix branding web">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-5.jpg" class="portfolio-item__img" alt="">
                        </div>
                    </div>
                    <div class="portfolio-item mix branding wordpress">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-6.jpg" class="portfolio-item__img" alt="">
                        </div>
                    </div>
                    <div class="portfolio-item mix branding web html wordpress">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-7.jpg" class="portfolio-item__img" alt="">
                        </div>
                    </div>
                    <div class="portfolio-item mix print">
                        <div class="portfolio-item__wrapper">
                            <div class="portfolio-item__meta">
                                <h4 class="portfolio-item__title">Title here</h4>
                                <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                    qui blanditiis praesentium</p>

                                <ul class="portfolio-item__links">
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-link-icon"></i>
                                        </a>
                                    </li>
                                    <li class="portfolio-item__links-item">
                                        <a href="#" class="portfolio-item__link">
                                            <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <img src="%=static=%img/assets/portfolio/portfolio-8.jpg" class="portfolio-item__img" alt="">
                        </div>
                        <div class="portfolio-item mix print html wordpress">
                            <div class="portfolio-item__wrapper">
                                <div class="portfolio-item__meta">
                                    <h4 class="portfolio-item__title">Title here</h4>
                                    <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                        qui blanditiis praesentium</p>

                                    <ul class="portfolio-item__links">
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-link-icon"></i>
                                            </a>
                                        </li>
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="%=static=%img/assets/portfolio/portfolio-9.jpg" class="portfolio-item__img" alt="">
                            </div>
                        </div>
                        <div class="portfolio-item mix web">
                            <div class="portfolio-item__wrapper">
                                <div class="portfolio-item__meta">
                                    <h4 class="portfolio-item__title">Title here</h4>
                                    <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                        qui blanditiis praesentium</p>

                                    <ul class="portfolio-item__links">
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-link-icon"></i>
                                            </a>
                                        </li>
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="%=static=%img/assets/portfolio/portfolio-10.jpg" class="portfolio-item__img" alt="">
                            </div>
                        </div>
                        <div class="portfolio-item mix web">
                            <div class="portfolio-item__wrapper">
                                <div class="portfolio-item__meta">
                                    <h4 class="portfolio-item__title">Title here</h4>
                                    <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                        qui blanditiis praesentium</p>

                                    <ul class="portfolio-item__links">
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-link-icon"></i>
                                            </a>
                                        </li>
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="%=static=%img/assets/portfolio/portfolio-11.jpg" class="portfolio-item__img" alt="">
                            </div>
                        </div>
                        <div class="portfolio-item mix web wordpress">
                            <div class="portfolio-item__wrapper">
                                <div class="portfolio-item__meta">
                                    <h4 class="portfolio-item__title">Title here</h4>
                                    <p class="portfolio-item__review">At vero eos et accusamus et iusto odio dignissimos ducimus
                                        qui blanditiis praesentium</p>

                                    <ul class="portfolio-item__links">
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-link-icon"></i>
                                            </a>
                                        </li>
                                        <li class="portfolio-item__links-item">
                                            <a href="#" class="portfolio-item__link">
                                                <i class="sprite-white sprite-mini-white-heart-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="%=static=%img/assets/portfolio/portfolio-12.jpg" class="portfolio-item__img" alt="">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
