// Common styles of the project

html, body {
  height: 100%;
}

body {
  font-family: $opensans;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

strong.green {
  color: $bold-text-green-color;
}

.page {

}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  margin-bottom: -50px;
}

*::selection {
  background: $bold-text-green-color;
  color: $white-color;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  height: 50px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.title {
  color: $dark-title-color;
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
}

.gray {
  background-color: $bg-block-gray;
}
