// Common styles of the project

html, body {
  height: 100%;
}

body {
  font-family: $opensans;
  font-size: 16px;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

strong.green {
  color: $bold-text-green-color;
}

.page {

}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100%;
  margin-bottom: -50px;
  width: 100%;
  overflow: hidden;
}

*::selection {
  background: $bold-text-green-color;
  color: $white-color;
}

* html .page__wrapper {
  height: 100%;
}

.page__buffer {
  display: flex;
  height: 50px;
  order: 999;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.title__text{
  font-family: $sourceSansProLight;
  font-size: 1.25em;
  letter-spacing: .12em;
  margin-top: 0;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.title {
  color: $dark-title-color;
  font-weight: normal;
}

.clearfix:after {
  clear: both;
}

.section{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  order: 1;
  position: relative;
  width: 100%;
}

.wrapper{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 2.5em auto;
  max-width: 80em;
  min-width: 20em;
  padding: 0 1em 0 .75em;
}

.section__title {
  font-size: 1em;
  margin-bottom: 1.75em;
  order: 1;
}

.pull-left {
  float: left;
}

.gray {
  background-color: $bg-block-gray;
}

@media all and (max-width: 45em){
  .wrapper{
    padding: 0 2em 0 1.75em;
  }
}
