// File for scss-vars.
// For example: main colors, paddings and so on.

// Шрифты макета
$sourceSansProLight: 'source_sans_prolight', Helvetica, Arial, sans-serif;
$bigjohnregular: 'big_johnregular', Helvetica, Arial, sans-serif;
$opensans: 'Open Sans';

// Цвета
$white-color: #ffffff;
$bg-block-white: #ffffff;
$bg-block-gray: #f3f3f3;
$title-block-gray-color: #f3f3f3;
$icon-bg-hover-color: #19bd9a;
$bold-text-green-color: #19bd9a;
$green-bg-block: #19bd9a;
$dark-green-font-color: #14977b;
$dark-gray-text-color: #b2b3b3;
$icon-bg-color: #81868e;
$text-block-gray-color: #81868e;
$dark-subtitle-name-color: #81868e;
$bold-text-color: #636971;
$dark-title-color: #464646;
$dark-title-name-color: #464646;
$title-block-color: #333b46;
$btn-block-color: #333b46;
$hover-bg-features: rgba(21, 21, 21, .85);
$black-color: #000;
$black-color-alpha: rgba(0, 0, 0, .85);
