<section class="bouncy section">
    <div class="wrapper bouncy-wrapper">
        <section class="bouncy-article">
            <h2 class="bouncy-article__title">This is bouncy</h2>
            <p class="bouncy-article__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vero, animi! Officia aliquid facilis,
                 aliquam magni atque repellat voluptatibus sit odit quidem perferendis totam. Eveniet optio ut repellendus numquam iste.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quia doloremque alias, qui nostrum blanditiis veniam ex molestiae, 
                 autem praesentium culpa eum quaerat excepturi consequatur veritatis, non esse a ducimus.</p>
            <a href="#" class="bouncy-article__more-btn btn">Read more</a>
        </section>
        <section class="bouncy-picture">
            <img src="%=static=%img/assets/bouncy/ipad.png" alt="" class="bouncy-picture__image">
        </section>
    </div>
</section>
