.bouncy {
    display: flex;
    height: auto;
    position: relative;
    width: 100%;
}
.bouncy-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 830px;
  min-width: 320px;
  padding: 80px 10px;
  width: 100%;
}
.bouncy-article {
    color: $text-block-gray-color;
    flex-grow: 2;
    font-family: $sourceSansProLight;
}
.bouncy-article__title {
    text-transform: uppercase;
}
.bouncy-article__body {
    max-width: 80%;
    margin-bottom: 2em;
}
.bouncy-picture {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.bouncy-picture__image {
    width: 200px;
}



@media (max-width: 600px) {
    .bouncy-article {
        flex-grow: 1;
        margin: 0 1em 2em;
    }
    .bouncy-article__body {
        max-width: 100%;
    }
    .bouncy-wrapper {
        flex-direction: column;
        
    }
    .bouncy-picture {
        display: none;
        // flex-direction: row;
        // justify-content: center; 
    }
}