.contact-form {
  padding: 2em 0;
}

.form-contact .input-text {
  border: 1px solid #d8dce0;
}

.form-contact .form-row {
  justify-content: space-between;
}

.form-contact .form-row .form-control, .form-contact .form-row .form-control .input-text{
  max-width: none;
  width: 100%;
}

.form-contact .form-row .form-control{
  margin: 0 0 1em;
}

.form-row.fill-all {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2em;
  width: 100%;
}

.form-row.fill-all .form-control {
  display: flex;
  margin: 0 auto 1em;
  max-width: none;
  width: 100%;
}

.form-row.fill-all .form-control .contact-textarea {
  resize: none;
  height: 10em;
  width: 100%;
}

button.contact-btn.form-element.input-submit.btn-pad {
  width: 100%;
  padding: 1em;
  background: $green-color;
  border: none;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;

  &:hover {
    background: darken($green-color, 10%);
  }
}

.text-area-row{
  height: 10em;
}
