<section class="contact-form section">
    <div class="wrapper">
        <div class="contact-form-block">
            <div class="contact-form-block__wrapper">
                <form action="#" enctype="application/x-www-form-urlencoded" class="form-contact">
                    <div class="form-row">
                        <div class="form-control">
                            <input name="name" type="text" class="input-text form-element" placeholder="Your Name">
                        </div>
                        <div class="form-control">
                            <input name="email" type="email" class="input-text form-element"
                                   placeholder="Email Address">
                        </div>
                        <div class="form-control">
                            <input name="subject" type="text" class="input-text form-element"
                                   placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-row fill-all text-area-row">
                        <div class="form-control">
                            <textarea placeholder="" name="text" id="" class="form-element input-text contact-textarea"></textarea>
                        </div>
                    </div>
                    <div class="form-row fill-all">
                        <div class="form-control">
                            <button type="submit" class="contact-btn form-element input-submit btn-pad">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
