<div class="our-prices section gray">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">Our prices</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>
        <div class="prices-container">
            <div class="price-item">
                <div class="price-item__title-side">
                    <div class="price-item__title">Premium</div>
                    <div class="price-item__description">
                        <div class="price-item__value text-green">80$</div>
                        <div class="price-item__meta">Per Month</div>
                    </div>
                </div>
                <div class="price-item__back-side">
                    <ul class="list-offers">
                        <li class="list-offers__item">Full Branding</li>
                        <li class="list-offers__item">Project Management</li>
                        <li class="list-offers__item">Unlimited Revisions</li>
                        <li class="list-offers__item">24/7 h Service</li>
                        <li class="list-offers__item">Free Domain</li>
                        <li class="list-offers__item">Free Hosting</li>
                    </ul>
                    <div class="price-btn__wrapper">
                        <a class="bnt btn-default btn-price" href="#">Lets Start &gt;</a>
                    </div>
                </div>
            </div>
            <div class="price-item">
                <div class="price-item__title-side">
                    <div class="price-item__title">The best</div>
                    <div class="price-item__description">
                        <div class="price-item__value text-green">70$</div>
                        <div class="price-item__meta">Per Month</div>
                    </div>
                </div>
                <div class="price-item__back-side">
                    <ul class="list-offers">
                        <li class="list-offers__item">Full Branding</li>
                        <li class="list-offers__item">Project Management</li>
                        <li class="list-offers__item">Unlimited Revisions</li>
                        <li class="list-offers__item">24/7 h Service</li>
                        <li class="list-offers__item">Free Domain</li>
                        <li class="list-offers__item">Free Hosting</li>
                    </ul>
                    <div class="price-btn__wrapper">
                        <a class="bnt btn-default btn-price" href="#">Lets Start &gt;</a>
                    </div>
                </div>
            </div>
            <div class="price-item">
                <div class="price-item__title-side">
                    <div class="price-item__title">Exclusive</div>
                    <div class="price-item__description">
                        <div class="price-item__value text-green">90$</div>
                        <div class="price-item__meta">Per Month</div>
                    </div>
                </div>
                <div class="price-item__back-side">
                    <ul class="list-offers">
                        <li class="list-offers__item">Full Branding</li>
                        <li class="list-offers__item">Project Management</li>
                        <li class="list-offers__item">Unlimited Revisions</li>
                        <li class="list-offers__item">24/7 h Service</li>
                        <li class="list-offers__item">Free Domain</li>
                        <li class="list-offers__item">Free Hosting</li>
                    </ul>
                    <div class="price-btn__wrapper">
                        <a class="bnt btn-default btn-price" href="#">Lets Start &gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>