<section class="footer section">
    <div class="wrapper text-center">
        <div class="footer-logo">
            <a href="#" class="footer-logo__link">Bouncy</a>
        </div>
        <div class="copyrights">
            <p class="copyrights-text">Copyright 2015. All rights Reserved</p>
        </div>
        <nav class="footer-soc-menu">
            <ul class="soc-menu">
                <li class="soc-menu__item">
                    <a target="_blank" href="#" class="soc-menu__item-link"><i class="sprite-soc-icons sprite-facebook"></i></a>
                </li>
                <li class="soc-menu__item">
                    <a target="_blank" href="#" class="soc-menu__item-link"><i class="sprite-soc-icons sprite-twitter"></i></a>
                </li>
                <li class="soc-menu__item">
                    <a target="_blank" href="#" class="soc-menu__item-link"><i class="sprite-soc-icons sprite-linked-in"></i></a>
                </li>
                <li class="soc-menu__item">
                    <a target="_blank" href="#" class="soc-menu__item-link"><i class="sprite-soc-icons sprite-instagram"></i></a>
                </li>
                <li class="soc-menu__item">
                    <a target="_blank" href="#" class="soc-menu__item-link"><i class="sprite-soc-icons sprite-vimeo"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>