.footer {
  padding: 2em 0;
}

.footer-logo__link{
  color: $footer-logo-font-color;
  font-family: $bigjohnregular;
  font-size: 1.25em;
  text-decoration: none;

  -webkit-transition: all .5s;
  transition: all .5s;

  &:hover{
    color: lighten($footer-logo-font-color, 15%);
  }
}

.copyrights{
  color: $text-block-gray-color;
  font-size: .875em;
  margin-bottom: 1em;
}

.footer-soc-menu{
  margin-bottom: 2em;
}

.soc-menu{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.soc-menu__item{
  margin: 0 .25em;
}