<section class="about">
    <div class="about-wrapper">
        <section class="about-article">
            <h2 class="about-article__title">This is bouncy</h2>
            <p class="about-article__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, vero, animi! Officia aliquid facilis,
                 aliquam magni atque repellat voluptatibus sit odit quidem perferendis totam. Eveniet optio ut repellendus numquam iste.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis quia doloremque alias, qui nostrum blanditiis veniam ex molestiae, 
                 autem praesentium culpa eum quaerat excepturi consequatur veritatis, non esse a ducimus.</p>
        </section>
        <section class="about-picture">
            <img src="%=static=%img/assets/about/ipad.png" alt="" class="about-picture__image">
        </section>
    </div>
</section>
