<section class="about gray section">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">Details about bouncy</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>

        <div class="list-icons">
            <ul class="list-colored-icons">
                <li class="list-colored-icons__item">
                    <a href="#" class="list-colored-icons__link">
                        <i class="sprite-white sprite-white-heart-icon"></i>
                    </a>
                </li>
                <li class="list-colored-icons__item">
                    <a href="#" class="list-colored-icons__link">
                        <i class="sprite-white sprite-white-mouse-icon"></i>
                    </a>
                </li>
                <li class="list-colored-icons__item">
                    <a href="#" class="list-colored-icons__link">
                        <i class="sprite-white sprite-white-lamp-icon"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="ideas">
            <h3 class="text-left title ideas-description-title">Creative ideas</h3>
            <div class="ideas-content">
                <div class="ideas-content__item">
                    <p class="ideas-content__text">At <strong class="green">vero</strong> eos et accusamus et iusto odio
                        dignissimos <strong>ducimus</strong> qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
                </div>
                <div class="ideas-content__item">
                    <p class="ideas-content__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti <strong>atque corrupti</strong> quos dolores et quas
                        molestias
                        <strong class="green">excepturi</strong> sint occaecati cupiditate non provident, <strong>similique</strong>
                        sunt in culpa qui officia deserunt
                        mollitia animi, id est laborum et dolorum fuga. Et harum quidem r</p>
                </div>
            </div>
        </div>
    </div>
</section>