.about {
    width: 100%;
    display: flex;
    height: auto;
    position: relative;
}
.about-wrapper {
  margin: 0 auto;
  max-width: 830px;
  min-width: 320px;
  padding: 40px 0;
  width: 100%;
  display: flex;
  padding: 80px 10px;
}
.about-article {
    // width: 60%;
    flex-grow: 2;
    color: $text-block-gray-color;
    font-family: $sourceSansProLight;
}
.about-article__title {
    text-transform: uppercase;
}
.about-article__body {
    max-width: 460px;
}
.about-picture {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}
.about-picture__image {
    width: 200px;
}

@media (max-width: 600px) {
    .about-article {
        flex-grow: 1;
    }
    .about-wrapper {
        flex-direction: column;
        
    }
    .about-picture {
        flex-direction: row;
        align-items: center;
        justify-content: center; 
    }
}