<section class="header">
    <div class="header-wrapper">
        <div class="navigation clearfix">
            <div class="logo pull-left">
                <a href="/" class="logo-link">
                    Bouncy
                </a>
            </div>

            <nav class="nav-menu">
                <ul class="menu">
                    <li class="menu__item"><a href="#">Home</a></li>
                    <li class="menu__item"><a href="#">About</a></li>
                    <li class="menu__item"><a href="#">Services</a></li>
                    <li class="menu__item"><a href="#">Portfolio</a></li>
                    <li class="menu__item"><a href="#">Team</a></li>
                    <li class="menu__item"><a href="#">Blog</a></li>
                    <li class="menu__item"><a href="#">Contact</a></li>
                </ul>
            </nav>

        </div>

        <div class="slogan">
            <h1 class="slogan__title">We are code cafe</h1>
            <p class="slogan__description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum</p>
        </div>

        <div class="header__bottom-btn">
            <a href="#" class="to-about-us-link"></a>
        </div>
    </div>
</section>