.header {
  align-items: stretch;
  background: url(%=static=%assets/header/header-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: auto;
  position: relative;
  width: 100%;
}

.header-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding: 40px 0;
  width: 100%;
}

.navigation{
  display: block;
  margin-bottom: 220px;
  width: 100%;
}

.logo {
  display: block;
  margin-bottom: 40px;
  font-family: $bigjohnregular;
  font-size: 1.78em;
  height: 100%;
  width: 300px;
}

.logo-link {
  color: $white-color;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .3), 2px 2px 0 rgba(0, 0, 0, .3), 3px 3px 0 rgba(0, 0, 0, .3);

  &:hover {
    color: darken($white-color, 20%);
  }
}
