<section class="header">
    <div class="header-wrapper">
        <div class="navigation">
            <div class="logo">
                <a href="/" class="logo-link">
                    Bouncy
                </a>
            </div>

            <nav class="nav-menu">
                <ul class="menu">
                    <li class="menu__item"><a href="#" class="btn menu__item-link active">Home</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">About</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">Services</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">Portfolio</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">Team</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">Blog</a></li>
                    <li class="menu__item"><a href="#" class="btn menu__item-link">Contact</a></li>
                </ul>
            </nav>

        </div>

        <div class="slogan text-center">
            <h1 class="slogan__title">We are code cafe</h1>
            <p class="slogan__description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum</p>
        </div>

        <div class="header__bottom-btn">
            <a href="#" class="to-about-us-link"></a>
        </div>
    </div>
</section>