<section class="subscribe section">
    <div class="wrapper">
        <div class="section__title text-center white-text">
            <h2 class="title__text">Subscribe</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>
        <div class="subscribe-form-block">
            <div class="subscribe-form-block__wrapper">
                <form action="#" method="get" enctype="application/x-www-form-urlencoded" class="form-subscribe">
                    <div class="form-row">
                        <div class="form-control">
                            <input type="email" class="input-text form-element" placeholder="Enter Address">
                        </div>
                        <div class="form-control">
                            <button type="submit" class="subscribe_btn form-element input-submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
