<section class="impressed section">
    <div class="wrapper gray-text">
        <h2 class="title__text">Impressed?</h2>
        <div class="impressed__content">
            <blockquote class="impressed__block impressed__blockquote">
                <p class="cite_text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium
                    voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
                <div class="impressed__blockquote-signature">
                    <div class="author-cite">Abdullah Noman</div>
                    <div class="author-worker">Creatice Director, <span class="text-green">Code Cafe</span></div>
                </div>
            </blockquote>
            <div class="impressed__block impressed-img-block">
                <div class="img-wrapper"><p class="impressed-img-block__logo"><a href="#"
                                                                                 class="impressed-img-block__link">B<span
                        class="text-green">o</span>uncy</a></p>
            </div>
        </div>
    </div>
</section>