<section class="contacts section gray">
    <div class="wrapper">
        <div class="section__title text-center white-text">
            <h2 class="title__text">Contact us</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>

        <div class="contacts-list__wrapper">
            <div class="contact-list__item">
                <div class="contact-list__item-header email-contact">
                    <a href="#" class="contact-list__item-link">
                        <i class="sprite-white sprite-big-white-mail-icon"></i>
                    </a>
                </div>

                <div class="contact-list__item-title">Email</div>
                <div class="contact-list__item-content">
                    <span class="contact-list__item-unit"><a href="mailto:hello@codecafe.com" class="contact-list__item-unit-link">hello@codecafe.com</a></span>
                    <span class="contact-list__item-unit"><a href="mailto:Personal@codecafe.com" class="contact-list__item-unit-link">Personal@codecafe.com</a></span>
                </div>
            </div>
            <div class="contact-list__item">
                <div class="contact-list__item-header map-contact">
                    <a href="#" class="contact-list__item-link">
                        <i class="sprite-white sprite-big-pinner-white-icon"></i>
                    </a>
                </div>

                <div class="contact-list__item-title">Our office</div>
                <div class="contact-list__item-content">
                    <span class="contact-list__item-unit">240 Bhatikhana, 8200 Barisal, Bangladesh</span>
                </div>
            </div>
            <div class="contact-list__item">
                <div class="contact-list__item-header phone-contact">
                    <a href="#" class="contact-list__item-link">
                        <i class="sprite-white sprite-big-phone-white-icon"></i>
                    </a>
                </div>

                <div class="contact-list__item-title">Phone</div>
                <div class="contact-list__item-content">
                    <span class="contact-list__item-unit"><a href="tel:+001166996644" class="contact-list__item-unit-link">+00 11 66 99 66 44</a></span>
                    <span class="contact-list__item-unit"><a href="tel:+011996644065" class="contact-list__item-unit-link">11 99 66 44 065</a></span>
                </div>
            </div>
        </div>
    </div>
</section>