<div class="testimonials section gray wow zoomIn" data-wow-duration="2s">
    <div class="wrapper">
        <div class="section__title text-center">
            <h2 class="title__text">Testimonials</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>
        <div class="testimonials__container">
            <ul class="testimonials__list">
                <li class="testimonials__list-item">
                    <div class="testimonials__avatar">
                        <img class="testimonials__avatar-img" src="%=static=%img/assets/testimonials/developer.png" alt="">
                    </div>
                    <div class="testimonial__content">
                        <p class="testimonial-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                            deserunt mollitia.</p>

                        <div class="testimonial__author">Partho</div>
                        <div class="testimonial__author-work">Founder, Artways BD</div>
                    </div>
                </li>
                <li class="testimonials__list-item">
                    <div class="testimonials__avatar">
                        <img class="testimonials__avatar-img" src="%=static=%img/assets/testimonials/developer.png" alt="">
                    </div>
                    <div class="testimonial__content">
                        <p class="testimonial-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                            deserunt mollitia.</p>

                        <div class="testimonial__author">Partho</div>
                        <div class="testimonial__author-work">Founder, Artways BD</div>
                    </div>
                </li>
                <li class="testimonials__list-item">
                    <div class="testimonials__avatar">
                        <img class="testimonials__avatar-img" src="%=static=%img/assets/testimonials/developer.png" alt="">
                    </div>
                    <div class="testimonial__content">
                        <p class="testimonial-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                            deserunt mollitia.</p>

                        <div class="testimonial__author">Partho</div>
                        <div class="testimonial__author-work">Founder, Artways BD</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
