<section class="section our-services">
    <div class="wrapper">
        <header class="our-services__header">
            <h2 class="our-services__title">Our services</h2>
            <p class="our-services__subtitle"></p>
        </header>
        <section class="our-services__body">
            <section class="our-services__tabs" id="services-tabs">
                <ul class="our-services__tabs-list">
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link service-active" data-target="article-1">W</a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link" data-target="article-2">G</a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link" data-target="article-3">U</a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link" data-target="article-4">B</a></li>
                </ul>
                <section class="our-services__tabs-content">
                    <article class="our-services__service" id="article-1">
                        <h3 class="our-services__service-title">Web design</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                    </article>
                    <article class="our-services__service" id="article-2">
                        <h3 class="our-services__service-title">Graphic design</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                    </article>
                    <article class="our-services__service" id="article-3">
                        <h3 class="our-services__service-title">UI / UX</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                    </article>
                    <article class="our-services__service" id="article-4">
                        <h3 class="our-services__service-title">Branding</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                    </article>
                </section>
            </section>
            <section class="our-services__levels"></section>
        </section>
    </div>
</section>
