<section class="section our-services wow zoomIn">
    <div class="wrapper our-services__wrapper">
        <header class="our-services__header">
            <h2 class="our-services__title title__text text-center">Our services</h2>
            <p class="our-services__subtitle subtitle__text text-center">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </header>
        <section class="our-services__body">
            <section class="our-services__tabs" id="services-tabs">
                <ul class="our-services__tabs-list">
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link tab-link link-active" data-target="article-1">
                        <i class="our-services__icon sprite-white sprite-white-settings-icon"></i>
                    </a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link tab-link" data-target="article-2">
                        <i class="our-services__icon sprite-white sprite-white-graphic-icon"></i>
                    </a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link tab-link" data-target="article-3">
                        <i class="our-services__icon sprite-white sprite-white-controller-icon"></i>
                    </a></li>
                    <li class="our-services__tabs-item"><a href="#" class="our-services__tabs-link tab-link" data-target="article-4">
                        <i class="our-services__icon sprite-white sprite-white-reset-icon"></i>
                    </a></li>
                </ul>
                <section class="our-services__tabs-content">
                    <article class="our-services__service tab-active tab" id="article-1">
                        <h3 class="our-services__service-title">Web design</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae!
                        </p>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! 
                        </p>
                    </article>
                    <article class="our-services__service tab" id="article-2">
                        <h3 class="our-services__service-title">Graphic design</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! Commodi qui neque deserunt, maxime rerum quam possimus veritatis repellat necessitatibus 
                            minima asperiores accusamus amet, quibusdam non aspernatur laudantium!
                        </p>
                    </article>
                    <article class="our-services__service tab" id="article-3">
                        <h3 class="our-services__service-title">UI / UX</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! 
                        </p>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! 
                        </p>
                    </article>
                    <article class="our-services__service tab" id="article-4">
                        <h3 class="our-services__service-title">Branding</h3>
                        <p class="our-services__service-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! 
                        </p>
                        <p class="our-services__service-body tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Cum, non recusandae! 
                        </p>
                    </article>
                </section>
            </section>
            <section class="our-services__levels">
                <ul class="our-services__list">
                    <li class="our-services__item">
                        <div class="our-services__round-slider" id="service1"></div>
                        <p class="text-center">Branding</p>
                    </li>
                    <li class="our-services__item">
                        <div class="our-services__round-slider" id="service2"></div>
                        <p class="text-center">Web-design</p>
                    </li>
                    <li class="our-services__item">
                        <div class="our-services__round-slider" id="service3"></div>
                        <p class="text-center">UI / UX</p>
                    </li>
                </ul>
            </section>
        </section>
    </div>
</section>
