<div class="latest-posts section">
    <div class="wrapper">
        <div class="section__title">
            <h2 class="title__text white-text">Latest news</h2>
            <p class="subtitle__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium</p>
        </div>

        <ul class="latest-posts__list">
            <li class="latest-post__item">
                <h4 class="latest-post__title-post"><a href="#" class="latest-post__link">The trending Landing Pages</a>
                </h4>
                <div class="latest-post__info">by <a href="#" class="latest-post__author-post">Kabir Uddin</a></div>
                <div class="latest-post__meta">6950 Likes - 243 Comments - 703 shares</div>
                <div class="latest-post__review">
                    <p class="latest-post__review-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                        distinctio... </p>
                </div>
                <div class="latest-posts__read-more-link">
                    <a href="#" class="latest-post__link">Read more</a>
                </div>
            </li>
            <li class="latest-post__item">
                <h4 class="latest-post__title-post"><a href="#" class="latest-post__link">The trending Landing Pages</a>
                </h4>
                <div class="latest-post__info">by <a href="#"  class="latest-post__author-post">Kabir Uddin</a></div>
                <div class="latest-post__meta">6950 Likes - 243 Comments - 703 shares</div>
                <div class="latest-post__review">
                    <p class="latest-post__review-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                        distinctio... </p>
                </div>
                <div class="latest-posts__read-more-link">
                    <a href="#" class="latest-post__link">Read more</a>
                </div>
            </li>
            <li class="latest-post__item">
                <h4 class="latest-post__title-post"><a href="#" class="latest-post__link">The trending Landing Pages</a>
                </h4>
                <div class="latest-post__info">by <a href="#"  class="latest-post__author-post">Kabir Uddin</a></div>
                <div class="latest-post__meta">6950 Likes - 243 Comments - 703 shares</div>
                <div class="latest-post__review">
                    <p class="latest-post__review-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                        mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                        distinctio... </p>
                </div>
                <div class="latest-posts__read-more-link">
                    <a href="#" class="latest-post__link">Read more</a>
                </div>
            </li>
        </ul>
    </div>
</div>
