.latest-posts {
  background: url(%=static=%assets/latest-posts/latest-post-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 0;
}

.latest-posts .section__title {
  margin-bottom: 2.5em;
}

.latest-posts__list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto 2em;
  order: 1;
  padding: 0;
  width: 90%;
}

.latest-post__item{
  margin-bottom: 2em;
   width: 70%;
}

.latest-posts .subtitle__text {
  color: $dark-gray-text-color;
}

.latest-post__title-post {

  font-size: 1.25em;
}

.latest-post__link {
  color: $title-block-light-gray-color;
  text-decoration: none;
}

.latest-post__info{
  color: $text-block-gray-color;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: .3125em;
}

.latest-post__author-post{
  color: $green-color;
  text-decoration: none;

  &:hover{
    color: darken($green-color, 20%);
    text-decoration: underline;
  }
}

.latest-post__meta{
  color: $dark-title-name-color;
  font-family: $sourceSansProLight;
  font-size: .9em;
  margin-bottom: 3.75em;
}

.latest-post__review{
  color: $dark-subtitle-name-color;
  margin-bottom: 3.75em;
}

.latest-posts__read-more-link .latest-post__link{
  color: $dark-gray-text-color;
  text-transform: capitalize;
  margin-bottom: 3.75em;
}

.latest-posts__read-more-link .latest-post__link:before{
  content: '+ ';
}

.latest-posts__read-more-link .latest-post__link:hover,
.latest-posts__read-more-link .latest-post__link:hover:before{
  color: darken($dark-gray-text-color, 20%);
}